<form [formGroup]="miFormulario" action="">
    <input type="text" placeholder="Nombre" formControlName= "nombre"><br><br>
    <input type="text" placeholder="Apellido" formControlName= "apellido"><br><br>
    <input type="number" placeholder="Numero de telefono" formControlName= "telefono"><br><br>
    <input type="number" placeholder="Edad" formControlName = "edad"><br><br>
    <input type="number" placeholder="Peso" formControlName = "peso"><br><br>
</form>
<p>{{miFormulario.invalid}}</p>
<button>Enviar</button>