<div class="subContenedor">
    <h1>HOME</h1>

    <p>..........................................</p>

    <h2>Dato Uno</h2>
    <input type="text" [(ngModel)]="dato">
    <p>{{dato}}</p>
    
    <p>..........................................</p>
    <h2>QueryParams</h2>
    <input type="text" [(ngModel)]='queryParams'>
    
    <!-- Con routerLink nos dirigimos a la pagina que indiquemos en las comillas y el dato que queremos enviar -->
    
    <button [routerLink]="['/pageOne',dato]"  [queryParams]="{query:'holaMundo'}">Send and queryParams</button>
</div>
